<html>
<head>
	<title>404 Page Not Found</title>
	<style>
		body {
			font-family: 'Arial', sans-serif;
			color: #333;
			text-align: center;
		}
		h1 {
			font-size: 72px;
			color: #ee6352;
			margin: 40px 0;
		}
		p {
			font-size: 18px;
			margin: 20px 0;
		}
		a {
			color: #ee6352;
			text-decoration: none;
			border-bottom: 1px solid #ee6352;
		}
		a:hover {
			border-bottom-color: transparent;
		}
	</style>
</head>
<body>
	<h1>404 Page Not Found</h1>
	<p>Sorry, the page you're trying to access doesn't seem to exist. Please check the URL and try again or use the navigation links to find what you're looking for.</p>
	<p><a href="/">Go back to the homepage</a></p>
</body>
</html>